.formSection {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

}
.box{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}
.contentQuest{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttonGroup {
  display: flex;
  gap: 10px;
}