/* Cabeçalho */
.navbar {
  background-color: #1F3B4D;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  position: relative;
}

.navbarBrand {
  font-size: 1.5em;
  font-weight: bold;
}
.navbarBrand .logo {
  height: 60px;
}
.iconMenu img{
  filter: brightness(0) saturate(100%) invert(100%);
  width: 40px;

}

.navbarLinks {
  position: absolute;
  display: none;
  flex-direction: column;
  right:0;
  bottom:-154px ;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  gap: 10px;
  z-index: 10;
}
.showMenu{
  display: flex;
}
.hideMenu{
display: none;
}


.navbarLinks .navLink {
  color: #FFFFFF;
  text-decoration: none;
  padding: 8px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

.navbarLinks .navLink:hover {
  background-color: #3A4E62  ;
  color: #FFFFFF;
}
.navbarLinks .login {
  color: #1F3B4D;
  padding: 8px 15px;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 4px;
}

@media (min-width:500px) {
  .navbar{
    padding: 10px 40px;

  }
  .navbarBrand .logo {
    height: 80px; /* Ajuste conforme necessário */
  }
  .navbarLinks {
    position: static;
    display: flex;
    flex-direction: row;
    background-color: unset;
}
.iconMenu{
  display: none;
}
.navbarLinks .login{
  text-align: center;
  background-color: #FFFFFF;
  color: #1F3B4D; 
  padding: 5px 15px;
  border-radius: 4px;
  border: 2px solid #1F3B4D; 
  font-weight: bold;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
 
}
.navbarLinks .login:hover{
  background-color:  #3A4E62; 
  color: #FFFFFF;
  border-color:  #3A4E62;
}
}
@media (min-width:1000px) {
  .navbar{
    justify-content: space-between;
    padding: 10px 12rem;
  }

}

