.paymentContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  height: 100%;
}
.payment{
  height: 100%;
}

@media (min-width:500px) {
  .payment{
    width: 50%;
  }
}