.resetContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 800px;
  height: 80vh;
  padding: 40px 20px;

  margin: 0 auto;
  background-color: #FFFFFF;
  color: #1F3B4D;
  border-radius: 8px;
}

.imageContainer {
  display: none;
}

.resetImage {
  width: 100%;
  max-width: 400px;
}

.formContainer {
  flex: 1;
  padding: 30px;
}

.formContainer h1 {
  font-size: 2em;
  color: #4B5320; 
  margin-bottom: 10px;
  text-align: center;
}

.formContainer p {
  font-size: 1em;
  color: #333333;
  margin-bottom: 20px;
}
.emailInput {
  width: 95%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #1F3B4D;
  border-radius: 4px;
  font-size: 1em;
  color: #1F3B4D;
}

.emailInput::placeholder {
  color: #6E7074;
}

.emailInput:focus {
  border-color: #4B5320;
  outline: none;
}

.submitButton {
  width: 100%;
  padding: 10px;
  background-color: #1F3B4D; /* Azul escuro */
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submitButton:hover {
  background-color: #4B5320; 
}
@media (min-width:700px) {
  .imageContainer {
    display: flex;
  }
}
