.infoConcurso{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:  #4B5320;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 8px 8px 0 0;
  font-size: 0.9em;
}


@media (min-width:600px) {
  .infoConcurso{
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
  }
 
}