.options{
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.option {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Espaço entre as opções */
  font-size: 0.8rem;
}
.option input[type="radio"] {
  display: none;
}
.optionLetter{
  flex-shrink: 0;
  display:flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
 background-color: #FFFF;
 border: 2px solid #1F3B4D;
 border-radius: 50%;
 font-weight: bold;
 cursor: pointer;
 transition: background-color 0.3s, color 0.3s;
 margin-right: 1rem;
}
.optionLetterSelected {
  background-color: #1f3b4d;
  color: #fff;
}

.correct{
  background-color: green;
  padding:0.5rem 0 ;

}
.incorrect{
  background-color: red;
  padding:0.5rem 0 ;
}

@media (min-width:400px) {
  .option{
    font-size:  1.125rem;
  }
  .optionLetter{
    width:25px;
    height: 25px;
  }
}