.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.paginationButton {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #1f3b4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButton:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
