.testeMo{
padding: 0.5rem;
}
.questionCard{
  background-color: #FFFFFF;
  border: 2px solid #1F3B4D;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 15px;
  font-family: Arial, sans-serif;
  color: #1F3B4D;
}
@media (min-width:700px) {
  .questionCard{
    width:600px ;
  }

}